<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Aggiornamento</title>
</head>
<body>
<h1> Aggiorna un corso universitario</h1>
	<form action="#" method="post" th:action="@{/corso/aggiorna}"
		th:object="${corsoLaurea}">
		
		<div>
			Codice corso:<input type="text" readonly="readonly" th:field="*{codiceCorso}"
				id="codiceCorso">
		</div>
		<div>
			Nome corso:<input type="text" th:field="*{nome}"
				id="nome">
		</div>
		<div>
			Indirizzo:<input type="text" th:field="*{indirizzo}"
				id="indirizzo">
		</div>
		
		<div>
			Numero esami minimi:<input type="text" th:field="*{esami}"
				id="esami">
		</div>

		<input type="submit" value="Conferma">
		 
	</form>
</body>
</html>